.container {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.box {
    padding: 10px;
    text-align: center;
    width: 60%;
    height: 60%;
}

#textDiv{
    background-color: antiquewhite;
}