
.container {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.box {
    padding: 10px;
    text-align: left;
    width: 60%;
    height: 60%;
}

#textDiv{
    background-color: antiquewhite;
}

#background {
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
}
