html {
    font-size: 25px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
  margin-bottom: 60px;
  background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto;
}

.hide-aside {
    opacity: 0;
    transition: opacity 0.5s;
}

.hide-aside:hover {
    opacity: 1;
}