@page
@using Server.Models
@model Server.Pages.BuyAds


@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@foreach(BuyAd buyAd in Model.AllBuyAds)
{
        <div class="sell-ad">
            <h3>@buyAd.Title</h3>
            <p>Beskrivning: @buyAd.Description</p>
            <p>Pris: @buyAd.Price </p>
            <p>Längd: @buyAd.Length</p>
            <p>Kontakt:</p>
        </div>
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sell Ad</title>
    <style>
        .sell-ad {
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    
</body>
</html>
