@page
@model Server.Pages.CreateAd

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Create Ad";
}

<!DOCTYPE html>

<html lang="sv">
    <body id="textDiv">
        <head>
    <title>Skapa annons</title>
    <link rel="stylesheet" href="css/CreateAd.css">
</head>
</body>

<body id="background">
<div id="textDiv">
    <h1 class="display-4">Här skapar du din annons</h1>
    <form method="post">
        <div class="container">
            <div class="box">
                <select name="BuyOrSell" id="BuyOrSell">
                    <option value="">Vill du köpa eller sälja?</option>
                    <option value="1">Köpa</option>
                    <option value="2">Sälja</option>
                </select></div>
            <div class="box">
                <select name="Category">
                    <option value="">Välj kategori?</option>
                    <option value="1">Motorbåt</option>
                    <option value="2">Segelbåt</option>
                    <option value="3">Annat</option>
                </select></div>
            <div class="box"></div>
            
            <div class="box"></div>
            <div class="box"><label for="Username">Användarnamn</label></div>
            <div class="box"><input id="Username" name="Username" type="Text"/></div>
            <div class="box"><label for="Password">Lösenord</label></div>
            <div class="box"><input id="Password" name="Password" type="Text"/></div>
            <div class="box"><label for="Title">Rubrik</label> </div>
            <div class="box"><input id="Title" name="Title" type="Text"/></div>
            <div class="box"><label for="Description">Beskrivning av produkt</label></div>
            <div class="box"><input id="Description" name="Description" type="Text"/></div>
            <div class="box"><label for="Length">Längd (cm)</label></div>
            <div class="box"><input id="Length" name="Length" type="number"/></div>
            <div class="box"><label for="Price">Pris (kr)</label></div>
            <div class="box"><input id="Price" name="Price" type="number"/></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"><p>Obs! Filuppladdning funkar ej</p></div>
            <div class="box"><input type="file" name="ImageUrl" id="fileToUpload"/></div>
            <div class="box"><input type="submit" value="Lägg till annons" name="submit"></div>
        </div>
    </form>
</div>
</body>
</html>