@page
@model Server.Pages.CreateUser

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
                       .button {
                           display: inline-block;
                           padding: 10px 20px;
                           border-radius: 5px;
                           background-color: lightskyblue;
                           color: white;
                           text-decoration: none;
                           font-weight: bold;
                           transition: background-color 0.3s;
                       }
                   
                       .button:hover {
                           background-color: lightblue;
                       }
                   </style>
</head>
<body>
<div class="text-center">
    <form method="post">
            <input type="hidden" asp-for="TheUser.Id"/>
            <label for="newUsername">Username: </label>
            <input asp-for="TheUser.Username" id="newUsername"/>
            <p><span asp-validation-for="TheUser.Username"></span></p>
            <label for="newUsername">Password: </label>
            <input asp-for="TheUser.Password" id="newPassword"/>
            <p><span asp-validation-for="TheUser.Password"></span></p>
            <button class="button" type="submit">Create New User</button>
        </form>
</div>
</body>
</html>