@page
@model Server.Pages.CreateAd

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Create Ad";
}

<!DOCTYPE html>

<html>
    <body id="textDiv">
        <head>
    <title>Skapa annons</title>
    <link rel="stylesheet" href="css/CreateAd.css">
</head>
</body>

<body id="background">
<div id="textDiv">
    <h1 class="display-4">Här skapar du din annons</h1>
    <form action="upload.php" method="post" enctype="multipart/form-data">
        
        
        <div class="container">
            
            <div class="box">
                <select name="number">
                    <option value="">Vill du köpa eller sälja?</option>
                    <option value="1">Köpa</option>
                    <option value="2">Sälja</option>
                </select></div>
            <div class="box">
                <select name="Category">
                    <option value="">Välj kategori?</option>
                    <option value="1">Motorbåt</option>
                    <option value="2">Segelbåt</option>
                    <option value="3">Annat</option>
                </select></div>
            <div class="box"></div>
            
            <div class="box"></div>
            <div class="box"><label for="Username">Användarnamn</label></div>
            <div class="box"><input name="Username" type="Text"/></div>
            <div class="box"><label for="Password">Lösenord</label></div>
            <div class="box"><input name="Password" type="Text"/></div>
            <div class="box"><label for="Title">Rubrik</label> </div>
            <div class="box"><input name="Title" type="Text"/></div>
            <div class="box"><label for="Description">Beskrivning av produkt</label></div>
            <div class="box"><input name="Description" type="Text"/></div>
            <div class="box"><label for="Length">Längd</label></div>
            <div class="box"><input name="Length" type="Text"/></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"><input type="file" name="ImageUrl" id="fileToUpload"></div>
            <div class="box"></div>
            <div class="box"><input type="submit" value="Lägg till annons" name="submit"></div>
        </div>
    </form>
    
    
</div>
</body>
</html>